# Scala #

project/boot
project/plugins/project
project/plugins/target
project/target
target
.ensime*
ensime-langserver.log
pc.stdout.log
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.crc
*.log
.DS_Store
.bloop
.metals
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
metals.sbt
.idea
.vscode
notebooks/.local
